[submodule "hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/tigattack/hugo-coder
[submodule "hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery
