<meta name="darkreader-lock">

<!-- Snippet borrowed from Blowfish's layouts/partials/vendor.html to support custom gallery_glob shortcode -->
{{ if page.HasShortcode "gallery_glob" }}
    {{ $galleryCSS := resources.Get "css/components/gallery.css" }}
    {{ $galleryCSS = $galleryCSS | resources.Fingerprint "sha512" }}
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ $galleryCSS.RelPermalink }}"
      integrity="{{ $galleryCSS.Data.Integrity }}">

    {{ $imagesLoadedLib := resources.Get "lib/imagesloaded/imagesloaded.pkgd.min.js" }}
    {{ $packeryLib := resources.Get "lib/packery/packery.pkgd.min.js" }}
    {{ $jsShortcodeGallery := resources.Get "js/shortcodes/gallery.js" }}
    {{ $jsShortcodeGallery = $jsShortcodeGallery | resources.Minify | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $imagesLoadedLib.RelPermalink }}" integrity="{{ $imagesLoadedLib.Data.Integrity }}"></script>
    <script type="text/javascript" src="{{ $packeryLib.RelPermalink }}" integrity="{{ $packeryLib.Data.Integrity }}"></script>
    <script type="text/javascript" src="{{ $jsShortcodeGallery.RelPermalink }}" integrity="{{ $jsShortcodeGallery.Data.Integrity }}"></script>
{{ end }}
