{{ $image := .image }}
{{ $class := .class }}
{{ $alt := .alt }}
{{ $onlyImage := default false .onlyImage }}

{{ $logo := (resources.Get "watermark.png") }}
{{ $watermarked := false }}

{{ $should_wm := true }}

<!-- Skip watermarking and warn if image or logo not found -->
{{ if not (and $image $logo) }}
  {{ warnf "watermark: Image or logo missing. Context: %+v" . }}
  {{ $should_wm = false }}
{{ end }}

<!-- Skip watermarking if image name contains "watermark" -->
{{ if strings.Contains (strings.ToLower $image) "watermark" }}
  {{ $should_wm = false }}
{{ end }}

{{ if $should_wm }}
  <!-- Set watermark size to 25% of the image height, capped at 150px -->
  {{ $size := math.Round (mul $image.Height 0.25) }}
  {{ $size = cond (ge $size 150.0) ($size) 150.0 }}

  <!-- Resize the logo based on the computed size -->
  {{ $logo = $logo.Resize (printf "%.0fx png" $size) }}

  <!-- Determine the horizontal position of the logo, positioning it in the middle of the image -->
  {{ $x := div (sub $image.Width $logo.Width) 2 }}
  <!--
    Determine the vertical position of the logo.
    Positions the logo slightly above the bottom of the cropped area, using a dynamic ratio to fix it ~5% above the bottom.
  -->
  {{ $y := div (sub $image.Height $logo.Height) 1.05 }}

  {{ $image = $image.Filter (images.Overlay $logo $x $y) }}

  {{ $watermarked = true }}
{{ end }}

<!-- Return the image resource/object or an HTML img tag depending on user preference -->
{{ if $onlyImage }}
  {{ return $image }}
{{ else }}
  <img alt="{{ $alt }}" src="{{ $image.RelPermalink }}" class="{{ $class }}" data-auto-watermarked="{{ $watermarked }}"/>
{{ end }}
