<div class="max-w-lg mx-auto p-8">
  {{ $title := "" }}
  {{ $open := false }}
  {{ if .IsNamedParams }}
    {{ $title = .Get "title" }}
    {{ $open = .Get "open" }}
  {{ else }}
      {{ $title = .Get 0 }}
      {{ $open = .Get 1 }}
  {{ end }}
  <details class="p-6" {{ if eq $open true }}open=""{{ end }}>
    <summary class="text-sm leading-6 font-semibold select-none cursor-pointer">
      {{ $title | markdownify }}
    </summary>
    <div class="text-sm leading-6">
      {{ trim .Inner "\r\n" | .Page.RenderString }}
    </div>
  </details>
</div>
